@{
    ViewBag.Title = "Container Management System";
}

<img src="~/Image/Maersk_Line_Logo.svg.png" width="1140" height="300" />
<div class="jumbotron">
    <h1>Welcome to Container Management System West Europe. </h1>
    <p class="lead">This system to cater to manage the containers, a solution that reduces overall supply chain costs and an efficient way to manage logistics.</p>
    <p><a href="/ShipView/Index" class="btn btn-primary btn-lg">Shipment List &raquo;</a></p>
</div>
